
@model Usuario;
<h1>Cadastro de Usuários</h1>

<form method="POST" asp-action="Cadastrar">
    <p>
        <p>Nome:</p>
        <input asp-for="nome">

        <p>User:</p>
        <input asp-for="user">

        <p>Senha:</p>
        <input asp-for="senha">

        <input type="submit" value="Cadastrar">
    </p>







</form>
