@model List<Usuario>

    <h1>LISTA USUARIOS CADASTRADOS:</h1>

    <table class="table">

        <thead> 
            <tr> 
                <th>Nome</th>
                <th>Usuarios</th>
                <th>Senha</th>
                <th>Manutenção</th>

            </tr>

        </thead>


        @foreach (Usuario a in Model)
        {
           <tr> 
                
                <td>@a.nome</td>
                <td>@a.user</td>
                <td>@a.senha</td>
                
                <td>
                    <a href="/Usuario/Editar?Id=@a.idUsuario">Editar</a>/
                    <a href="/Usuario/Deletar?Id=@a.idUsuario">Excluir</a>/
                    

                </td>
            </tr>
        }


    </table>
